<ion-view>
<ion-header-bar class="bar-light bar bar-header" align-title="center">
	<button ng-click="ionicBack()" class="button back-button buttons button-clear header-item">
	    <i class="icon ion-ios-arrow-left"></i>
    </button>
    <div class="title title-center header-item"><span>关于我们</span></div>
</ion-header-bar>
<ion-content class="y-simple-video">
	<div class="y-aboutus">
		<p class="aboutusItem-1">悦美课</p>
		<p class="aboutusItem-2">悦美课</p>
		<p class="aboutusItem-3">美不止在眼前</p>
		<p class="aboutusItem-3">版本1.01</p>
		<p class="aboutusItem-4">北京小悦科技有限公司</p>
	</div>
</ion-content>
</ion-view>