<ion-view class="y-view">
<ion-header-bar class="bar-light bar bar-header" align-title="center">
	<button ng-click="ionicBack()" class="button back-button buttons button-clear header-item">
	    <i class="icon ion-ios-arrow-left"></i>
    </button>
    <div class="title title-center header-item"><span>产品吐槽</span></div>
</ion-header-bar>
<ion-content class="y-simple-video">
	<div class="y-complaints-content">
		<textarea class="complaintsText" placeholder="感谢吐槽，我们一直在努力......">
		</textarea>
	</div>
	<div class="submitComplaints" ng-click="goComplaints()">提交</div>
</ion-content>
</ion-view>