<ion-view>
<ion-content scroll="false">
	<ion-slide-box  show-pager="false">
	  <ion-slide show-pager="false">
	    <div class="box guide1">
	    	<img src="img/guide/guide1.png">
	    </div>
	  </ion-slide>
	  <ion-slide show-pager="false">
	    <div class="box guide2">
	    	<img src="img/guide/guide2.png">
	    </div>
	  </ion-slide>
	  <ion-slide show-pager="false">
	    <div class="box guide3" ng-click="goTab()">
	    	<img src="img/guide/guide3.png">
	    </div>
	  </ion-slide>
	</ion-slide-box>
</ion-content>
</ion-view>