<ion-view hide-nav-bar="false" view-title="悦美课">
    <ion-content class="y-simple-video y-office-content">
    	<!-- 视频模块 -->
		<div class="y-video">
	        <img src="./img/boutique/poster.png" alt="" class="y-office-img">
	        <span class="y-back" ng-click="ionicBack()"><img src="./img/boutique/goback.png" alt=""></span>
	        <span class="y-share" ng-click="goShare(boutiDetailList)"><img src="./img/boutique/share.png" alt=""></span>
	        <span class="y-collection" ng-if="!boutiDetailList.iskeep" ng-click="keepDesigner(boutiDetailList)"><img src="./img/boutique/collection.png" alt=""></span>
	        <span class="y-collection" ng-if="boutiDetailList.iskeep" ng-click="keepDesigner(boutiDetailList)"><img src="./img/boutique/k-collection.png" alt=""></span>
	    </div>
	    
	    <!-- 订阅详情 -->
	    <div class="y-page-1">
	        <!-- 切换tab -->
	        <div class="y-switch">
	            <span ng-bind="boutiDetailList.name" class="y-class-title"></span>
	        </div>
	        <div class="y-office-info">
	        	<div class="y-office-icon flex align">
	        		<span class="y-icon-item flex align"><img src="./img/boutique/time-icon.png" alt=""></span>
	        		<span class="y-icon-item flex align"><img src="./img/boutique/place-icon.png" alt="" class="y-place-icon"></span>
	        		<span class="y-icon-item flex align"><img src="./img/boutique/balance-icon.png" alt=""></span>
	        	</div>
	        	<div class="y-office-detail">
	        		<div class="y-detail-item">
	        			<span ng-bind="boutiDetailList.worktime"></span>
	        		</div>
	        		<div class="y-detail-item" ng-click="goMap(boutiDetailList.positionx,boutiDetailList.positionx)">
	        			<span ng-bind="boutiDetailList.position"></span>
	        			<img src="./img/boutique/right-icon.png" alt="">
	        		</div>
	        		<div class="y-detail-item y-detail-special">
	        			<span ng-if="showPrice">￥<span ng-bind="boutiDetailList.price"></span></span>
	        			<span ng-if="!showPrice"><span ng-bind="boutiDetailList.price"></span></span>
	        		</div>
	        	</div>
	        </div>
	       <div class="y-subInfo">
	            <span class="y-sub-title">导师简介</span>
	            <span class="y-sub-number"><span ng-bind="boutiDetailList.peoplenum"></span>人已报名</span>
	            <span class="y-designer-info">
	                <img ng-src="{{boutiDetailList.teacheravatar}}" alt="">
	                <span ng-bind="boutiDetailList.teachername"></span>
	                <span class="y-job-type" ng-bind="boutiDetailList.teacherjob"></span>
	            </span>
	        </div>
	        <div class="y-describe">
	            <span ng-bind="boutiDetailList.teacherdescribe"></span>
	        </div>
	        <span class="y-notice">课程介绍</span>
	        <div class="y-describe y-notice-info">
	            <p><span ng-bind="boutiDetailList.detail"></span></p>
	        </div> 
	    </div>
	<div class="marginB54"></div>
    </ion-content>
    <!-- 订阅按钮模块 -->
    <div class="y-pay-info" ng-if="priceType">
        <span class="y-pay-number"><span ng-bind="boutiDetailList.keepnum"></span>人已报名<span class="y-pay-price" ng-if="showPrice">￥<span ng-bind="boutiDetailList.price"></span></span><span class="y-pay-price" ng-if="!showPrice"><span ng-bind="boutiDetailList.price"></span></span></span>
        <input type="submit" class="y-pay-btn" value="立即报名" ng-click="goRegistration(boutiDetailList)">
    </div>
</ion-view>
