.y-aboutus{
	width:100%;
	height:auto;
	text-align:center;
	font-size:14px;
	color:#333;
	p{
		margin:0;
	}
	.aboutusItem-1{
		font-size:28px;
		margin-top:75px;
	}
	.aboutusItem-2{
		margin-top:108px;
	}
	.aboutusItem-3{
		margin-top:17px;
	}
	.aboutusItem-4{
		margin-top:145px;
	}
}