.user-info {
	height: 194px;
	width: 100%;
	background:#f5a523;
	position: relative;
	display: flex;
    display: -webkit-flex;
	flex-direction: column;
    -webkit-flex-direction: column;
	align-items:center;
	-webkit-align-items:center;
	.head-img {
		width: 75px;
		height: 75px;
		margin-top: 37px;
		border-radius: 50%;
		margin:37px auto 0;
	}
	.y-username{
		font-size:14px;
		color:#fff;
		line-height:37px;
	}
	.bottom-info{
		width:100%;
		height:44px;
		position:absolute;
		left:0;
		bottom:0;
		background:rgba(0,0,0,0.15);
	    display: flex;
	    display: -webkit-flex;
	    align-items: center;
	    -webkit-align-items: center;
	    justify-content: space-around;
	    -webkit-justify-content: space-around;
	    padding:6px 0;
	    .y-info-item {
	        width: 49.5%;
	        display: flex;
	        display: -webkit-flex;
	        align-items:center;
	        -webkit-align-items:center;
	        flex-direction:column; 
	        -webkit-flex-direction:column;
		      img {
		        height: 22px;
		        width: 22px;
		        vertical-align: middle;
		      }
		      .text {
		        font-size: 10px;
		        color: #fff;
		      }
		      .text-spec{
		      	font-size:22px;
		      }
	    }
	}
	.y-vertical{
		width:1px;
		height:22px;
		background:#fff;
		position:absolute;
		bottom:11px;
		left:50%;
	}
	.y-setUp{
		position:absolute;
		top:15px;
		right:15px;
		img{
			width:21px;
			height:21px;
		}
	}
}

.y-me-tab{
	width:100%;
	height:44px;
	background:#fff;
	margin-top:5px;
	.y-meTab-item{
		justify-content: center;
		width:33%;
		font-size:12px;
		color:#333;
		line-height:44px;
		border-bottom:2px solid #fff;
	}
	.meTab-item-h{
		color:#f5a523;
		border-bottom:2px solid #f5a523;
	}
}
.y-page-2,.y-page-3{
	display:none;
}
.y-page{
	margin-top:5px;
	width:100%;
	min-height:1px;
	.y-personInfo{
		width:100%;
		height:106px;
		background:#fff;
		position:relative;
		border-bottom:1px solid #d2d2d2;
		.learnImg{
			width:75px;
			height:75px;
			position:absolute;
			left:16px;
			top:16px;
		}
		.learnImg-info{
			width:75px;
			height:25px;
			background:rgba(0,0,0,0.5);
			position:absolute;
			left:16px;
			top:66px;
			font-size:12px;
			color:#fff;
			line-height:25px;
			text-align:center;
		}
		.learn-info{
			width:auto;
			height:100%;
			position:absolute;
			left:106px;
			top:0;
			.learn-name{
				font-size:14px;
				color:#333;
				margin-top:33px;
				display:block;
			}
			.learn-detail{
				font-size:12px;
				color:#999;
				margin-top:18px;
				display:block;
			}
			.y-ml-15{
				margin-left:15px;
			}
			.active-name{
				font-size:14px;
				color:#333;
				margin-top:26px;
				display:block;
			}
			.y-active-info{
				font-size:10px;
				color:#999;
				margin-top:3px;
				display:block;
				img{
					width:15px;
					height:15px;
					vertical-align: middle;
				}
				.y-mr{
					margin-right:10px;
				}
			}
			.y-active-price{
				font-size:12px;
				color:#999;
				display:block;
			}
		}
		.y-activity-status{
			width:50px;
			height:25px;
			background:#f5a523;
			color:#fff;
			line-height:25px;
			text-align:center;
			border-radius:3px;
			position:absolute;
			right:15px;
			bottom:10px;
			span{
				font-size:12px;
			}
		}
	}
	.y-nocontent{
		width:70px;
		height:70px;
		white-space:nowrap;
		font-size: 12px;
    	text-align: center;
		margin:85px auto;
		color:#999;
		line-height:28px;
		img{
			width:70px;
			height:70px;
		}
	}
}
.popup-body {
    text-align: center;
}
.button-positive {
    background: #f5a523 !important;
}
.button-me-login {
	width: 100px;
	height: 44px;
	line-height: 44px;
	text-align: center;
	font-size: 12px;
	color: #ffffff;
	margin-top: 15px;
	margin-left: auto;
    margin-right: auto;
	border: 1px solid #ffffff;
    border-radius: 4px;
    /*background-color: rgba(255, 255, 255, 0.2);*/
}