.y-mt{
	margin-top:5px;
	.input-label{
		font-size:14px !important;
		color:#333;
	}
	input{
		color:#333 !important;
		font-size:14 !important;
	}
}
.y-next{
	margin-top:60px;
}
.bar-light{
	margin-left:10px;
}